apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: nginx-gw
spec:
  selector:
    app: istio-ingressgateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - nginx.tmanet.com
    - red.tmanet.com
    tls:
      httpsRedirect: true
  - port:
      number: 443
      name: https
      protocol: HTTPS
    hosts:
    - nginx.tmanet.com
    tls:
      credentialName: gw-credential
      mode: SIMPLE
  - port:
      number: 443
      name: https-red
      protocol: HTTPS
    hosts:
    - red.tmanet.com
    tls:
      mode: PASSTHROUGH
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: nginx-vs
spec:
  hosts:
  - nginx.tmanet.com
  gateways:
  - nginx-gw
  http:
  - route:
    - destination:
        host: nginx
        port:
          number: 443
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: nginx-vs-red
spec:
  hosts:
  - red.tmanet.com
  gateways:
  - nginx-gw
  tls:
  - match:
    - port: 443
      sniHosts:
      - red.tmanet.com
    route:
    - destination:
        host: nginx-red
        port:
          number: 443